.dark-mode{
    background-color: #292929;
    color: #fff;
}


.featured-dark-mode{
    background-color: #3c3c3c;
    color: #fff;
}

.header-dark-mode{
    filter: invert();
}

.hr-dark-mode{
    background-color: #3c3c3c;
    color: #3c3c3c;
}

.dark-mode-indi{
    background-color: #212121 !important;
}

.dark-mode-links{
    color: #fff !important;
}

.dark-mode-big{
    background-color: #292929;
}